$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.col-md-4:nth-child(3n+1){
  clear: left;
}

.thumb-big {
  height: 200px;
}

.movies-list
{
  text-align: center;
}

.availability
{
  padding: 9px;
  font-size: 12px;
  font-weight: 500;
  color: black;
}
.bookThumb
{
  height: 149px;
  padding-right: 21px;
}

.footer {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
  text-align: right;
}

.screen {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 20px;
}

.seats_row {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}
.seats_row .seat {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid red;

  margin-right: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 8px;
  text-decoration: none;
}

.seats_row .occupied {
  background-color: red !important;
}

.seats_row .free:hover {
  background-color: yellow !important;
  color: #000000;
}

.yes {
  background-color: blue;
}

.no {
  background-color: green;
}