<div class="alert alert-success" style="margin-top: 15px; font-size: 16px; font-weight: bold;" role="alert">Rezerwacja została złożona pomyślnie, identyfikator rezerwacji CIN/{{reservation.id}}</div>

<h3>{{currMovie.name}}</h3>
<b>Termin</b>: {{seance.startTime | date:'dd-MM-yyyy hh:mm'}} ({{seance.hall.name}})

<div style="margin-top: 20px; margin-bottom: 15px; font-weight: bold;">Rezerwowane bilety:</div>

<div data-ng-repeat="ticket in reservation.tickets" class="reservation_row" style="margin-bottom: 10px;">
    <div style="float: left; width: 120px;"><span class="glyphicon glyphicon-tag"></span> Miejsce {{ticket.seat.row}}{{ticket.seat.number}}</div>
    <div style="clear:both;"></div>
</div>

<div style="margin-top: 20px; margin-bottom: 15px; font-weight: bold;">Dane identyfikacyjne osoby składającej rezerwacje:</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="radios" style="text-align: left; width: 170px;">Metoda autoryzacji:</label>
    <div class="col-md-6">
        {{reservation.authorizationMethod == 'SMS' ? 'numer telefonu' : 'adres e-mail'}}
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="radios" style="text-align: left; width: 170px;">Imię:</label>
    <div class="col-md-6">
        {{reservation.name}}
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="radios" style="text-align: left; width: 170px;">Adres e-mail:</label>
    <div class="col-md-6">
        {{reservation.email}}
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="radios" style="text-align: left; width: 170px;">Numer telefonu:</label>
    <div class="col-md-6">
        {{reservation.phone}}
    </div>
</div>

<div style="clear: both;"></div>