<input type="text" placeholder="Wyszukaj film..." class="form-control" data-ng-model="search" style="margin-top: 25px;" />

<div class="">
    <!-- Example row of columns -->

   <div class="row movies-list">
        <div class="col-md-4" data-ng-repeat="movie in movies | orderBy:'name':false | filter:search">
            <div style="font-size: 20px; margin-bottom: 10px; margin-top: 10px;">{{movie.name | uppercase}}</div>
            <p>
                <img data-ng-src="{{movie.picture}}" class="thumb-big">
            </p>
            <p>{{movie.description | limitTo:90}}...</p>
            <p>
                <span class="label label-warning availability">Dostępność: {{movie.status == 'AVAILABLE' ? 'DOSTĘPNY' : 'NIEDOSTĘPNY'}}</span>
                <a data-ng-href="#/movie/{{movie.id}}" class="btn btn-primary ">Szczegóły</a>
                <a data-ng-href="#/bookTickets/{{movie.id}}" class="btn btn-success " role="button" data-ng-disabled="movie.status == 'UNAVAILABLE'">Rezerwuj »</a>
            </p>
        </div>
    </div>
</div>